/*.login {
  display: none;
  position: absolute;
  left: 1300px;
}

.signup {
  display: none;
  position: absolute;
  left: 1300px;
}

/*natalia's styling*/

.left, .right {
  margin-top: 50px;
  /*margin-left: 30px;*/
  border: 2px solid black;
  float: left;
  display: inline-block;
}

.right {
  width: 52%;
  height: 700px;

}
.left {
  margin-left: -80px;
  margin-right: 70px;
  /*width: 40%;*/
}

.title {
  text-align: center;
}

.hidden_edit, .hidden_create {
  display: none;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 5px;
}
