<p>This is where you input TAG info and it's added to the USER's photo collection</p>

<%= @user.first_name %><%= @user.last_name %>

<ul>
  <% @user.photos.each do |pic| %>
    <li><img src="<%= "../../#{pic.url}" %>"></li>
    <% end %>
</ul>