<div class="container-fluid photo-page">

   <div class="left">
    <% name="#{user.first_name} #{user.last_name}"%>
     <h2 class="title"><%= name %></h2>
     <img src="<%= "../#{picture.url}" %>" height="420" width="420">
   </div>

   <div class="right">
    <% if picture.comments.count > 0 %>
      <h2 class="title">Comments:</h2>
        <% picture.comments.each do |comment|%>
          <ul>
              <% unless comment.parent_id %>
                 <%= erb :"comments/show", locals: {comment: comment, picture: picture, user: user} %>
              <% end%>
          </ul>
       <% end%>
    <% end%>
  </div>

</div>