<!-- <div>
<li class="login_button"><a>Login</a></li>
<li class="signup_button"><a>SignUp</a></li>
</div> -->


<li><a href="/authentication/signin">Login</a></li>
<li><a href="/authentication/signup">SignUp</a></li>