<div class="login">
  <% if session[:message] %>
  <%= session[:message]%>
  <% session[:message].clear %>
  <% end %>

  <form action='/authentication/login' method='post'>
    <br>
    <br>
    <br>
    <br>
    <input type='text' name='handle' placeholder='HANDLE'/><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br>
    <input class="btn btn-default"  type='submit' value='signin'/>
  </form>
</div>

<div class="signup">
  <form action='/authentication/register_user' method='post'>
    <br>
    <br>
    <br>
    <br>
    <input type='text' name='first_name' placeholder='FIRSTNAME'/><br>
    <input type='text' name='last_name' placeholder='LASTNAME'/><br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='text' name='handle' placeholder='HANDLE'/><br>
    <input type='text' name='password' placeholder='PASSWORD'/><br>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/><br>
    <input type='text' name='bio' placeholder='USER BIO'/><br>
    <input class="btn btn-default"  type='submit' value='sign up'/>
  </form>
</div>

<div id="links">
  <% pictures.each do |picture| %>
  <% picture.sub!(/public\//, '')%>
   <a href="<%="#{picture}"%>" data-gallery>
    <img src="<%= "../#{picture}" %>"/>
  </a>
    <%end%>
</div>

<!-- <div class="tag_stream">
  <ul>
    <% tags.each do |tag| %>
    <li><%=tag.title%></li>
    <%end%>
  </ul>
</div> -->
