<!--Image Gallery-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">


<div class="login">
  <% if session[:message] %>
  <%= session[:message]%>
  <% session[:message].clear %>
  <% end %>

  <form action='/authentication/login' method='post'>
    <br>
    <br>
    <br>
    <br>
    <input type='text' name='handle' placeholder='HANDLE'/><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br>
    <input class="btn btn-default"  type='submit' value='signin'/>
  </form>
</div>

<div class="signup">
  <form action='/authentication/register_user' method='post'>
    <br>
    <br>
    <br>
    <br>
    <input type='text' name='first_name' placeholder='FIRSTNAME'/><br>
    <input type='text' name='last_name' placeholder='LASTNAME'/><br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='text' name='handle' placeholder='HANDLE'/><br>
    <input type='text' name='password' placeholder='PASSWORD'/><br>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/><br>
    <input type='text' name='bio' placeholder='USER BIO'/><br>
    <input class="btn btn-default"  type='submit' value='sign up'/>
  </form>
</div>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="photo_stream">
  <ul>
    <% pictures.each do |picture| %>
    <% picture.sub!(/public\//, '')%>
    <li>
      <img src="<%= "../#{picture}" %>"/>
    </li>
    <%end%>
  </ul>
</div>

<div class="tag_stream">
  <ul>
    <% tags.each do |tag| %>
    <li><%=tag.title%></li>
    <%end%>
  </ul>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>